In [4]:
import pandas as pd

df = pd.read_excel("Stock.xlsx",index_col="Name")
df

                             Category  Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10
ปากกา                 อุปกรณ์การเรียน    200       5
โคมไฟ                เครื่องใช้ในบ้าน   1200       7
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0
เสื้อยืดคอกลม                เสื้อผ้า    500       2
กางเกงยีนต์                  เสื้อผ้า    999       8
ตุ๊กตาหมีพูห์                 ของเล่น    950       5
โซฟา                     เฟอร์นิเจอร์   5000       5
จาน                       เครื่องครัว    250       4
ทีวี                  เครื่องใช้ไฟฟ้า  15000       7
ยางลบ                 อุปกรณ์การเรียน     20       5
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5
รถบังคับ                      ของเล่น    500       6

In [6]:
df.sum(axis=0)

Category    อุปกรณ์คอมพิวเตอร์อุปกรณ์การเรียนเครื่องใช้ในบ...
Price                                                   33119
Amount                                                     77
dtype: object

In [7]:
df["total"]=df["Price"]*df["Amount"]

In [8]:
df

                             Category  Price  Amount   total
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900      10    9000
ปากกา                 อุปกรณ์การเรียน    200       5    1000
โคมไฟ                เครื่องใช้ในบ้าน   1200       7    8400
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750       1     750
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500       0       0
เสื้อยืดคอกลม                เสื้อผ้า    500       2    1000
กางเกงยีนต์                  เสื้อผ้า    999       8    7992
ตุ๊กตาหมีพูห์                 ของเล่น    950       5    4750
โซฟา                     เฟอร์นิเจอร์   5000       5   25000
จาน                       เครื่องครัว    250       4    1000
ทีวี                  เครื่องใช้ไฟฟ้า  15000       7  105000
ยางลบ                 อุปกรณ์การเรียน     20       5     100
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500       7   17500
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850       5    4250
รถบังคับ                      ของเล่น    500       6    3000

In [9]:
df.sum(axis=0)

Category    อุปกรณ์คอมพิวเตอร์อุปกรณ์การเรียนเครื่องใช้ในบ...
Price                                                   33119
Amount                                                     77
total                                                  188742
dtype: object